.contentContainer {
    display: grid;
    grid-gap: 1px;
    grid-template-areas:  "header" "pic"
                          "" "link";
    grid-template-columns: 7fr 5fr;
    height: 100px;
    justify-content: start;
  }
  
  .header {
    grid-area: "header";
  }
  
  .pic {
    grid-area: "header";
    height: 100px;
    /* width: 80px; */
    border: 1px solid;
  }
  
  #link {
    grid-area: "link";
    justify-content: end;
    text-decoration: underline;
  }