$desktop:1200px;
$laptop:1024px;
$tablet:768px;
$phone:480px;

* {
    text-align: center;
    display: inline;
    margin-left: auto;
    margin-right: auto;
}
 
.player {
   
    margin-left: auto;
    margin-right: auto;
 
   
}
 
.routine {
    font-size: 80px;
    font-weight: bold;
}

.centered {
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
}