* {
  box-sizing: border-box;
}

.landingContainer {
  height: 100vh;
}

.landingGrid {
  height: 100%;
  text-align: center;
  background-color:rgb(214, 230, 176);
  /* flex-grow: 1; */
}

.landingColumn {
  border: solid black 1px;
  height: 600px;
  overflow: scroll;
}

.landingColumn ul {
  margin: 0;
  padding: 0;
  height: 100%;
}

.landingColumn li {
  list-style-type: none;
}
