* {
  box-sizing: border-box;
}

.landingContainer {
  height: 100vh;
}

.landingGrid {
  height: 100%;
  text-align: center;

  /* flex-grow: 1; */
}

.landingColumn {
  border: solid black 1px;
  height: 200px;
  overflow: scroll;
}
