* {
  box-sizing: border-box;
}

.landingContainer {
  height: 100vh;
}

.landingGrid {
  height: 100%;
  text-align: center;
}

.landingColumn {
  border: solid black 1px;
  height: 600px;
  overflow: scroll;
}

.landingColumn ul {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.landingColumn li {
  list-style-type: none;
}
